<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Main</title>
</head>
<body>
    <script>
        //base constructor function
     function Employee (name, id, title)  {
        this.name = name;
        this.id = id;
        this.title = title;
        this.getName = function () {
        
        };
        return this.name
        this.getId() {

        };
        return this.getID
        this.getEmail() {

        };
        return this.getEmail
        // Returns 'Employee'
        this.getRole() {

        };
        return this.getRole
    };
    
        module.exports = Employee;


        </script>
</body>
</html>
