<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  
    <script>
     /*In addition to `Employee`'s properties and methods, `Manager` will also have:
  * officeNumber
  * getRole() // Overridden to return 'Manager'
  */
    function manager () {
      let managerVar = new Employee (officeNumber);
        this.officeNumber = officeNumber;
        getRole() {

        };
        return new Employee (manager);
    };
        
        module.exports = manager;
        </script>
</body>
</html>

